{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'lovestory/login/style.css' %}" media="screen" type="text/css" />

</head>

<body background="{% static 'lovestory/image/66.jpg' %}">

  <center>
  <form action="login" method="get">
    <fieldset>
      <!-- Entypo &#128100; = User -->
      <input type="text" name="username" id="username" placeholder="Username" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,12}$" data-validation-msg="Username must be 2 - 12 characters" required />
      <label for="username" data-icon="&#128100;">Username</label>
      <!-- Entypo &#128274; = Locked -->
      <input type="password" name="password" id="password" placeholder="Password" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,12}$" data-validation-msg="Password must be 2-12 characters" required />
      <label for="password" data-icon="&#128274;">Password</label>
      <!-- Entypo &#58542; = Right Arrow -->
      <button value="Submit" data-icon="&#58542;" />
    </fieldset>
  </form>
</center>

  <script src="{% static 'lovestory/login/jquery.js' %}"></script>
  <script src="{% static 'lovestory/login/index.js' %}"></script>
</body>

</html>