{% load staticfiles %}
<!-- <!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'lovestory/login/style.css' %}" media="screen" type="text/css" />

</head>

<body background="{% static 'lovestory/image/66.jpg' %}">

  <center>
  <form action="login" method="post">
    {% csrf_token %}
    <fieldset>
      <input type="text" name="username" id="username" placeholder="Username" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,12}$" data-validation-msg="Username must be 2 - 12 characters" required />
      <label for="username" data-icon="&#128100;">Username</label>
      <input type="password" name="password" id="password" placeholder="Password" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,12}$" data-validation-msg="Password must be 2-12 characters" required />
      <label for="password" data-icon="&#128274;">Password</label>
      <button value="Submit" data-icon="&#58542;" />
    </fieldset>
  </form>
</center>

  <script src="{% static 'lovestory/login/jquery.js' %}"></script>
  <script src="{% static 'lovestory/login/index.js' %}"></script>
</body>

</html> -->
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>晓宝宝和笨笨杨的幸福小站</title>
  
  
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>

      <link rel="stylesheet" href="{% static 'lovestory/login/style.css' %}">

  
</head>

<body>
    <div class="wrapper">
    <form class="form-signin" form action="login" method="post"> 
    {% csrf_token %}      
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
    </form>
  </div>
  
  
</body>